{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Atualiza Usuario</title>
<link rel="stylesheet" href="{% static 'usuario/css/estilo.css' %}">
</head>
<body>
    {% include 'usuarios/links.html' %}
    <h1>Atualizacao de usuarios</h1>
    <form method="POST" class="formulario">
        {% csrf_token %}
        <table>
            {{ usuario.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" value="Atualiza"></td>
            </tr>
        </table>
    </form>
</body>
</html>

