{% extends 'registro/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7 mx-auto my-5">
            <div class="card mx-auto my-5">
                <div class="card-header">
                    <h3 class="text-center">Apagar sua conta</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3 text-center">
                            <h3>Tem certeza que deseja apagar sua conta?</h3>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="Digite seu email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Digite sua senha" required>
                        </div>
                        {% if failed_message %}
                        <p style="color: red; text-align: center;">{{ failed_message }}</p>
                        {% endif %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Apagar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}