{% extends 'base.html' %}

{% block content %}

<title>Conta de {{user}}</title>

<div class="container mt-4">
    <div class="row">
        <!-- Coluna para os posts no centro da tela -->
        <div class="col-md-7">
            <h3 class="mb-2 font-weight-normal" style="color: white;">Seus Filmes:</h3>
            {% if filmes %}
                <ul class="list-group">
                    {% for filme in filmes %}
                        <div class="filme-post-container mt-3">
                            {% include 'partes/partesFilme.html' with filme=filme %}
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="list-group">
                    <div>
                        <li class="list-group-item d-flex justify-content-center">
                            <div>
                                <a href="{% url 'filmes:posta' %}" style="text-decoration: none !important" class="stretched-link link-dark">Você não listou nenhum filme. Quer adicionar?</a>
                            </div>
                        </li>
                    </div>
                </ul>
            {% endif %}
        </div>
        
        <!-- Coluna para o formulário de mudança de email e senha (menor) -->
        <div class="col-md-5 mt-2 ">
            <div class="card offset-md-2 mt-5 text-bg-dark">
                <div class="card-header">
                    <h3 class="text-center">Conta</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3 ">
                            <label for="email" class="form-label ">Novo email:</label>
                            <input type="email" name="email" class="form-control text-bg-dark" id="email" placeholder="Digite seu novo e-mail" value="{{ account_form.initial.email }}">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Novo Username:</label>
                            <input type="text" name="username" class="form-control text-bg-dark" id="username" placeholder="Digite seu novo Username" value="{{ account_form.initial.username }}">
                        </div>

                        {% for field in usuario_form %}
                            <p>
                                {% for error in field.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </p>
                        {% endfor %}

                        {% if usuario_form.non_field_errors %}
                            <div style="color: red;">
                                <p>{{ usuario_form.non_field_errors }}</p>
                            </div>
                        {% endif %}

                        <div class="d-flex flex-column">
                            <a class="m-auto" href="{% url 'muda_senha' %}">Mudança de senha</a>
                        </div>

                        <div class="mt-3 d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                            <a role="button" href="{% url 'deleta_usuario' %}" class="btn btn-danger">Apagar conta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'partes/paginationFilme.html' with filmes=filmes %}
    </div>
</div>


{% endblock content %}