{% extends 'base.html' %}
{% block content %}

<div class='container mt-5'>
    <div class='row justify-content-center'>
        <div class='col-md-6'>
            <div class='card'>
                <div class='card-header'>
                    <h3 class='text-center'>Posta Novo Filme</h3>
                </div>
                <div class='card-body'>
                    <form method='post' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class='mb-3'>
                            <label for='id_titulo' class='form-label'>Título</label>
                            <input type='text' name='titulo' class='form-control' id='id_titulo' placeholder='Título' required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="id_nacionalidade" class="form-label">Nacionalidade</label>
                            <input type='text' name="nacionalidade" class="form-control" id="id_nacionalidade" placeholder="Qual a nacionalidade do filme?" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_ano" class="form-label">Ano</label>
                            <input type='number' name="ano" class="form-control" id="id_ano" placeholder="Qual ano foi lançado?" min='1900' max='2099' step='1' required>
                        </div>
                        <div class="mb-3">
                            <label for="id_sinopse" class="form-label">Sinopse</label>
                            <textarea name="sinopse" id="id_sinopse" rows="10" class="form-control" placeholder="Uma breve sinopse do filme"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="id_diretor" class="form-label">Diretor</label>
                            <input type='text' name="diretor" class="form-control" id="id_diretor" placeholder="Qual o diretor?" required>
                        </div>
                        <div class="mb-3">
                            <label for="id_nota" class="form-label">Nota</label>
                            <input type='number' name="body" class="form-control" id="id_nota" placeholder="Qual sua nota?" min='0' max='10'>
                        </div>
                        <div class="mb-3">
                            <label for="id_review" class="form-label">Review</label>
                            <textarea name="review" id="id_review" rows="10" class="form-control" placeholder="Uma breve review"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="id_visto" class="form-label">Visto</label>
                            <input type='checkbox' name="visto" class="form-control" id="id_visto" placeholder="Você viu esse filme?">
                        </div>
                        <div class='text-center'>
                            <button type='submit' class='btn btn-primary'>Postar Filme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
