<div class="container">
    <div class="row">
        <div class="card m-auto text-bg-dark">
            <div class="card-body my-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="card-titulo">{{filme.titulo}}</h2>
                </div>
                <hr>
                <a href='{% url 'filmes:detalha' filme.slug %}' style="text-decoration: none !important" class=" link-dark">
                    <div class="container">
                        <p class="card-text text-bg-dark">{{filme.titulo}}</p>
                        <p class="card-text text-bg-dark"> Nota: {{filme.nota}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
