<div class="container">
    <div class="row">
        <!-- Blog post -->
        <div class="card m-auto text-bg-dark">
            <div class="card-body my-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="card-title">{{Filme.titulo}}</h2>
                </div>
                <hr>
                <a href="{% url 'filme:detail' Filme.slug %}" style="text-decoration: none !important" class=" link-dark">
                    <div class="container">
                        <pre class="card-text text-bg-dark">{{Filme.titulo}}</pre>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
